<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="mymenuFragment">
	<!-- 마이페이지 메뉴 -->
    <aside class="myMenu">
        <ul>
            <li th:classappend="${option == 'myorder'} ? 'on' : ''"><a th:href="@{/myshop/myorder}">주문/배송</a></li>
            <li th:classappend="${option == 'coupon'} ? 'on' : ''"><a th:href="@{/myshop/coupon}">쿠폰</a></li>
            <li th:classappend="${option == 'point'} ? 'on' : ''"><a th:href="@{/myshop/point}">적립금</a></li>
            <li th:classappend="${option == 'wishlist'} ? 'on' : ''"><a th:href="@{/myshop/wishlist}">위시 리스트</a></li>
            <li th:classappend="${option == 'myqna'} ? 'on' : ''"><a th:href="@{/myshop/myqna}">1:1문의</a></li>
            <li th:classappend="${option == 'profile'} ? 'on' : ''"><a th:href="@{/myshop/profile}">나의 프로필</a></li>
        </ul>
    </aside>
</th:block>
<th:block th:fragment="myheadFragment">
	<!-- 회원 정보 -->
	<nav class="head">
	    <div class="user">
	        <div class="userThumb disnone" >
	            <a href="#">
	                <img th:src="@{/image/default_profile.png}" alt="">
	            </a>
	        </div>
	        <div class="userInfo">
	            <div><span id="userNick">김동근</span></div>
	            <div>Lv.<span id="level">1</span> <span id="levelName">실버</span></div>
	            <div>
	                <div class="boughtPrice">
	                    <span>누적 구매 금액</span>
	                    <span id="boughtPrice">250,000</span>
	                </div>
	                <div class="point">
	                    <span>현재 포인트</span>
	                    <span id="point">5,000</span>
	                </div>
	                <div class="coupon">
	                    <span>보유 쿠폰</span>
	                    <span id="countCoupon">3</span>
	                </div>
	                <div class="levelPoint">
	                    <span>등급 점수</span>
	                    <span id="levelPoint">2,500</span>
	                </div>
	            </div>
	        </div>
	    </div>
	    <div class="level">
	        <ul class="levelInfo">
	            <li>누적 구매금액은 실시간 반영이 아닌 출고요청 상태 주문건을 기준으로 매주 월요일 새벽에 집계됩니다.</li>
	            <li>누적 구매금액은 최근 5년 치가 반영됩니다.</li>
	        </ul>
	    </div>
	</nav>
</th:block>
</html>