<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="mymenuFragment">
	<!-- 마이페이지 메뉴 -->
    <aside class="myMenu">
        <ul>
            <li th:classappend="${option == 'myorder'} ? 'on' : ''"><a th:href="@{/myshop/myorder}">주문/배송</a></li>
            <li th:classappend="${option == 'coupon'} ? 'on' : ''"><a th:href="@{/myshop/coupon}">쿠폰</a></li>
            <li th:classappend="${option == 'point'} ? 'on' : ''"><a th:href="@{/myshop/point}">적립금</a></li>
            <li th:classappend="${option == 'wishlist'} ? 'on' : ''"><a th:href="@{/myshop/wishlist}">위시 리스트</a></li>
            <li th:classappend="${option == 'myqna'} ? 'on' : ''"><a th:href="@{/myshop/myqna}">1:1문의</a></li>
            <li th:classappend="${option == 'profile'} ? 'on' : ''"><a th:href="@{/myshop/profile}">나의 프로필</a></li>
        </ul>
    </aside>
</th:block>
<th:block th:fragment="myheadFragment">
	<!-- 회원 정보 -->
	<nav class="head">
	    <div class="userThumb" >
	        <a th:href="@{#}">
	            <img th:src="@{/img/default_profile.png}" alt="">
	        </a>
	    </div>
	    <div class="userInfo">
	        <div><span id="userNick" th:text="${member.name}"></span>님 안녕하세요.</div>
	        <div>적립금: <span id="memberPoint" th:text="${#numbers.formatInteger(member.point, 0, 'COMMA')}"></span>원</div>
	    </div>
	</nav>
</th:block>
</html>