.PINK {
    background-color: pink;
}
.Viloet {
    background-color: violet;
}
.Ivory {
    background-color: ivory;
}
.Lavender {
    background-color: lavender;
}
.Blue {
    background-color: blue;
}
.Magenta {
    background-color: magenta;
}
.Coral {
    background-color: coral;
}
.Crimson {
    background-color: crimson;
}