/* 메인 */
main {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
}
#cnt {
    min-height: 950px;
    padding: 0px 0px;
    position: relative;
}
.cntbody {
    width: 1400px;
    margin: 0 auto;
}
#detail {margin-top: 50px;}
#detail .wrap_prd {
    overflow: visible;
    position: relative;
}
/* 상품 이미지 */
#detail .wrap_prd > .prdimg {
    position: relative;
    width: 540px;
    height: 540px;
    float: left;
}

#detail .wrap_prd > .prdimg .img {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
}
#detail .wrap_prd > .prdimg .img img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}
#goods_video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
#changeimg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#changeimg > img {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

#detail .wrap_prd > .prdimg .addimg {margin-top: 10px;}
#detail .wrap_prd > .prdimg .addimg .box_add_slide {
    width: calc(100% + 10px);
    margin-left: -5px;
    overflow: hidden;
}
#detail .wrap_prd > .prdimg .addimg .add_slide.slick-initialized {
    display: block;
}
#detail .wrap_prd > .prdimg .addimg .add_slide {
    width: 100%;
}
#detail .wrap_prd > .prdimg .addimg .add_slide .slick-prev {
    width: 48px;
    height: 48px;
    background-image: url(./img/btn_slide_prev02.png);
    background-repeat: no-repeat;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
}
.box_add_slide .slick-list {
    padding: 2px 0;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-slide img {
    display: block;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
img {
    vertical-align: top;
}
.slick-arrow[aria-disabled="true"] {
    display: none !important;
}

#detail .wrap_prd > .prdimg .addimg .add_slide .slick-arrow {
    position: absolute;
    top: 0;
    z-index: 10;
    width: 30px;
    height: 126px;
    border: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    color: transparent;
    font-size: 0;
    cursor: pointer;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
.box_add_slide .slick-slide.on {
    outline: 2px solid #925fff;
}

.box_add_slide .slick-slide {
    margin: 0px 5px;
    position: relative;
}
.slick-initialized .slick-slide {
    transform: translateZ(0);
}
.add_slide img {
    cursor: pointer;
}

.box_add_slide .slick-slide {
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin-right: 5px;
    border-radius: 10px;
}
#detail .wrap_prd > .prdimg .addimg .add_slide > div img {
    width: 100%;
    height: auto;
    margin-left: 0;
}
#detail .wrap_prd > .prdimg .addimg .add_slide .slick-next {
    width: 48px;
    height: 48px;
    background-image: url(/img/btn_slide_next02.png);
    background-repeat: no-repeat;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.slick-slide img {
    display: block;
}
.box_add_slide .slick-slide.on:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff70;
}

/* 상품 정보 */
    