<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="indexConfigFragment">
	<!-- Public index, headfoot settings -->
	<!-- jquery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<!-- swiper -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
	<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
	<!-- font -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- css -->
	<link rel="stylesheet" th:href="@{/css/headfoot.css}">
	<link rel="stylesheet" media="all and (max-width:1200px)" th:href="@{/css/tablet.css}">
    <link rel="stylesheet" media="all and (max-width:640px)" th:href="@{/css/modile.css}">
	<!-- js -->
	<script th:src="@{/js/main.js}"></script>
	
</th:block>
</html>