/* 메인 */
main {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
}
#cnt {
    min-height: 1050px;
    padding: 0px 0px;
    position: relative;
}
.cntbody {
    width: 1400px;
    margin: 0 auto;
}
#detail {margin-top: 50px;}
#detail .wrap_prd {
    overflow: visible;
    position: relative;
}
/* 상품 이미지 */
#detail .wrap_prd > .prdimg {
    position: relative;
    width: 740px;
    height: 740px;
    float: left;
}

#detail .wrap_prd > .prdimg .img {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
}
#detail .wrap_prd > .prdimg .img img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}
#goods_video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
#changeimg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#changeimg > img {
    width: 30px;
    height: 40px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

#detail .wrap_prd > .prdimg .addimg {margin-top: 10px;}
#detail .wrap_prd > .prdimg .addimg .box_add_slide {
    width: calc(100% + 10px);
    margin-left: -5px;
    overflow: hidden;
}
#detail .wrap_prd > .prdimg .addimg .add_slide.slick-initialized {
    display: block;
}
#detail .wrap_prd > .prdimg .addimg .add_slide {
    width: 100%;
}
#detail .wrap_prd > .prdimg .addimg .add_slide .slick-prev {
    width: 48px;
    height: 48px;
    background-image: url(./img/btn_slide_prev02.png);
    background-repeat: no-repeat;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
}
.box_add_slide .slick-list {
    padding: 2px 0;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-slide img {
    display: block;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
img {
    vertical-align: top;
}
.slick-arrow[aria-disabled="true"] {
    display: none !important;
}

#detail .wrap_prd > .prdimg .addimg .add_slide .slick-arrow {
    position: absolute;
    top: 0;
    z-index: 10;
    width: 30px;
    height: 126px;
    border: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    color: transparent;
    font-size: 0;
    cursor: pointer;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
.box_add_slide .slick-slide.on {
    outline: 2px solid #925fff;
}

.box_add_slide .slick-slide {
    margin: 0px 5px;
    position: relative;
}
.slick-initialized .slick-slide {
    transform: translateZ(0);
}
.add_slide img {
    cursor: pointer;
}

.box_add_slide .slick-slide {
    width: 140px;
    height: 140px;
    overflow: hidden;
    margin-right: 5px;
    border-radius: 10px;
}
#detail .wrap_prd > .prdimg .addimg .add_slide > div img {
    width: 100%;
    height: auto;
    margin-left: 0;
}
#detail .wrap_prd > .prdimg .addimg .add_slide .slick-next {
    width: 48px;
    height: 48px;
    background-image: url(/img/btn_slide_next02.png);
    background-repeat: no-repeat;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.slick-slide img {
    display: block;
}
.box_add_slide .slick-slide.on:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff70;
}

/* 상품 정보 */
.info {
    width: 500px;
    height: auto;
    float: right;
}
.wrap_prd > .info > h3 {margin-bottom: 50px; font-size: 24px;}
.wrap_prd > .info .price .price-box {
    position: relative;
    margin: 0;
}
#detail .wrap_prd > .info > .price .sell * {
    text-decoration: none;
    font-size: 18px;
    color: #4b4b4b;
    text-decoration: line-through;
    font-size: 22px;
    font-weight: 400;
}
#detail .wrap_prd > .info > .price .sell {position: relative;}
#detail .wrap_prd > .info .price .price-box .p1 {
    color: #ff9995;
    margin-right: 4px;
    font-size: 25px;
    font-weight: 600;
}

#detail .wrap_prd > .info .price .price-box .p2 {
    color: #4b4b4b;
    font-size: 25px;
    margin-right: 10px;
    font-weight: 500;
}
#detail .wrap_prd > .info .price .price-box .p2 em {
    font-style: inherit;
    font-size: 14px;
}
#detail .wrap_prd > .info .discount {
    color: #ff9995;
    font-size: 16px;
    margin-top: 2px;
}

#detail .wrap_prd > .info .list {
    border-bottom: 0;
    width: 100%;
    border-bottom: 1px solid #e9e9e9;
}

#detail .wrap_prd > .info .list th {
    padding: 2px 0px 10px 0;
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    vertical-align: top;
    letter-spacing: -1px;
}
#detail .wrap_prd > .info .list td {
    padding: 2px 0px 10px 0;
    text-align: left;
    vertical-align: middle;
}
#detail .wrap_prd > .info .benefit a {
    font-size: 14px;
}

#detail .wrap_prd > .info .list td.colorchip {
    padding-left: 0;
}
.wrap_prd  div.sizecolorbox {
    margin-bottom: 10px;
}
.wrap_prd  div.sizecolorbox small {
    color: #D1D1D1;
}
#detail .wrap_prd > .info .list td .box_colorchip {
    position: static;
    overflow: visible;
    padding: 0;
    width: 100%;
}
.optSelect {
    line-height: 2.0;
    font-size: 0;
}
.optSelect {
    width: calc(100% + 7px);
}
.box_colorchip .colorbox {
    display: inline-block;
    font-size: 0;
}
.box_colorchip .colorbox a {
    height: auto;
    border: 1px solid #E9E9E9;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    margin-right: 7px;
}
.box_colorchip .colorbox a {
    overflow: inherit;
}
.box_colorchip .colorbox a {
    border-radius: 5px;
    overflow: hidden;
    border: 2px solid #E9E9E9;
}
.box_colorchip img {
    border-radius: 5px;
    width: 62px;
    height: 62px;
    object-fit: cover;
}
#detail .wrap_prd > .info .list td .box_colorchip {
    overflow: hidden;
    position: relative;
    width: 350px;
    padding: 0 10px;
}
.box_colorchip .colorbox:hover {
    z-index: 1000;
}

.wrap_prd  div.sizecolorbox small {
    color: #D1D1D1;
}
#detail .wrap_prd > .info .list td .size {
    margin-left: -6px;
}
.optSelect {
    width: calc(100% + 7px);
}
.optSelect {
    line-height: 2.0;
    font-size: 0;
}
#detail .wrap_prd > .info .list td .size > li {
    width: auto;
}
#detail .wrap_prd > .info .list td .size > li {
    float: left;
    width: 50px;
    margin: 0 0 5px 6px;
    text-align: center;
}
#detail .wrap_prd > .info .list td .size > li a {
    display: inline-block;
    padding: 0 8px;
}
#detail .wrap_prd > .info .list td .size > li a {
    background: none;
    border-radius: 5px;
    overflow: hidden;
}
#detail .wrap_prd > .info .list td .size > li a {
    display: block;
    position: relative;
    height: 52px;
    border: 1px solid #e9e9e9;
    font-size: 13px;
    line-height: 52px;
    min-width: 30px;
}
.opacity {
    background-color: #ededed;
}

.wrap_prd  div .count{
    position: relative;
    width: 100px;
    height: 40px;
}
.wrap_prd  div .count > button {
    position: absolute;
    width: 21px;
    height: 21px;
    background-image: url(../img/ico_sprites.png);
    font-size: 0;
    background-color: transparent;
    border: none;
}
.wrap_prd  div .count > .decrease {
    left: 0;
    top: 0;
    background-position: 0px -74px;
}
.wrap_prd  div .count > input[name=num] {
    position: absolute;
    left: 30px;
    top: 0;
    width: 30px;
    height: 21px;
    border: 1px solid #ececec;
    font-size: 14px;
    text-align: center;
}
.wrap_prd  div .count > .increase  {
    left: 70px;
    top: 0;
    background-position: -48px -74px;
}
.total {
    overflow: hidden;
    margin-top: 16px;
}
.total > span {
    float: right;
    display: inline-block;
    line-height: 38px;
    font-size: 24px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-align: right;
    letter-spacing: -0.5px;
}
.total > em {
    float: right;
    display: block;
    width: 100px;
    height: 22px;
    padding: 10px 0 0;
    font-size: 16px;
    line-height: 22px;
    color: #5e636d;
    letter-spacing: -1px;  
}
.button {
    overflow: hidden;
    margin-top: 16px;
}
.button > input {
    float: left;
    width: 49%;
    height: 50px;
    margin: 2px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 2px;
    cursor: pointer;
}

.button > .cart {
    background: #fff;
    border: 1px solid #d9d9d9;
    color: #233549;
}
.button > .order {
    background: #2e8de5;
    border: 1px solid #217fd7;
    color: #fff;
}