<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Beauty</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/admin/product.css}">
    <script th:src="@{/js/admin.js}"></script>
    <script type="text/javascript" th:inline="javascript">
    	$(document).ready(function(){
		  	//페이지가 로드되면 처음 실행
		  	CheckBoxList();
		  	page();
    	  	//체크된 메뉴 상품목록 불러오기
    		function CheckBoxList(){
    			//체크박스 값 배열에 담기
        		var collection = new Array();
    		  	if($('input:checkbox[name=category2]:checked').length == 0){
    		  		//전체 값
    				$('input[name=category2]').each(function(){
    					collection.push($(this).val());
    				});	
    		  	}else{
    		  		//선택된 값
    				$('input[name=category2]:checked').each(function(){
    					collection.push($(this).val());
    				});	
    		  	}
    		  	start=0;
    		  	
    		  	console.log(collection);
    			//AJAX 요청 보내기
    		  	$.ajax({
    				type:"post",
    				url:"/Beauty/admin/product/list",
    				data: {'collection':collection},
    				dataType: 'json',
    				success:function(data){
    					//console.log(data);
    					$('.productRow').remove();
    					//최신순 정렬
    					const sortedResult = data.result.sort((a,b)=>b.prodNo-a.prodNo);
    					//상품목록 불러오기
    					let tag = "";
    					
    					const sliceArr = sortedResult.slice(start,start+21);
    					
    					for(let i=0; i<sliceArr.length; i++){
    							tag += "<tr class='productRow'>";
    							tag += "<td><input type='checkbox' name='선택체크' class='rowCheck' value='"+sortedResult[i].prodNo+"'></td>";
    							tag += "<td><img src='#'></td>";
    							tag += "<td>"+sliceArr[i].prodNo+"</td>";
    							tag += "<td>"+sliceArr[i].prodCate1+"</td>";
    							tag += "<td>"+sliceArr[i].prodCate2+"</td>";
    							tag += "<td>"+sliceArr[i].prodName+"</td>";
    							tag += "<td>"+sliceArr[i].disPrice+"</td>";
    							tag += "<td>"+sliceArr[i].stock+"</td>";
    							tag += "<td>"+sliceArr[i].hit+"</td>";
    							tag += "<td>";
    							tag += "<form action='list/delete'>";
    							tag += "<input type='hidden' name='prodNo' value='"+sliceArr[i].prodNo+"'/>";
    							tag += "<input type='hidden' name='param1' value='"+sliceArr[i].prodNo+"'/>";
    							tag += "<input type='hidden' name='arg1' value='"+sliceArr[i].prodCate1+"'/>";
    							tag += "<input type='submit' value='삭제' id='deleteButton'/>";
    							tag += "</form>";
    							tag += "</td>";
    							tag += "</tr>"
    					}
    					$('#tableList').append(tag);
    				}
    			});
    	  	}
    		
    		//페이징 처리
			function page(){
				//체크박스 값 배열에 담기
        		var collection = new Array();
    		  	if($('input:checkbox[name=category2]:checked').length == 0){
    		  		//전체 값
    				$('input[name=category2]').each(function(){
    					collection.push($(this).val());
    				});	
    		  	}else{
    		  		//선택된 값
    				$('input[name=category2]:checked').each(function(){
    					collection.push($(this).val());
    				});	
    		  	}
    			
    		  	$.ajax({
    				type:"post",
    				url:"/Beauty/admin/product/listCount",
    				data: {'collection':collection},
    				dataType: 'json',
    				success:function(data){
    					let totalPage=1;
    					
    					if(data.result % 10 == 0){
    						totalPage=data.result/10;
    					}else{
    						totalPage=Math.ceil(data.result/10);
    					}
    					console.log("page??",totalPage);
    					
    					let tag = "<span class='prev'>이전</span>";
    					for(i=1; i<=totalPage; i++){
    						let num= start==i?'current':'num';
    						tag += "<span class='"+num+"' data-value='"+i+"'>"+i+"</span>";
    					}
    					tag += "<span class='next'>다음</span>";
    					$(".page").append(tag);
    				}
    		  	});
    		}
    		
    	  	//메뉴 체크박스가 변화할 때마다 상품목록 불러오기
    		$("ul").find("input[type=checkbox]").on("change",function(){
    	    	CheckBoxList();
    	    });
    		
    	});
    </script>
</head>
<body>
    <div id="wrapper">
        <th:block th:replace="~{/admin/product/_header :: headerFragment}"></th:block>
        <main>
            <aside>
			    <ul>
			        <li>
			            <a th:href="@{/admin/product/list}">ALL</a>
			        </li>
			        <li>
			            <a href="#" class="cate1">OUTER</a>
			            <ul>
			                <li><label><input type="checkbox" class="allCheck">전체</input></label></li>
			                <li><label><input type="checkbox" name="category2" value="가디건">가디건</input></label></li>
			                <li><label><input type="checkbox" name="category2" value="자켓/코트">자켓/코트</input></label></li>
			                <li><label><input type="checkbox" name="category2" value="패딩/점퍼">패딩/점퍼</input></label></li>
			                <li><label><input type="checkbox" name="category2" value="집업/조끼">집업/조끼</input></label></li>
			            </ul>
			        </li>
			        <li>
			            <a th:href="@{#}" class="cate1">TOP</a>
			            <ul>
			                <li><label><input type="checkbox" class="allCheck">전체</input></label></li>
			                <li><label><input type="checkbox" name="category2" value="티셔츠">티셔츠</label></li>
			                <li><label><input type="checkbox" name="category2" value="니트/스웨터">니트/스웨터</label></li>
			                <li><label><input type="checkbox" name="category2" value="맨투맨/후드">맨투맨/후드</label></li>
			                <li><label><input type="checkbox" name="category2" value="조끼/나시">조끼/나시</label></li>
			            </ul>
			        </li>
			        <li>
			            <a th:href="@{#}" class="cate1">BOTTOM</a>
			            <ul>
			                <li><label><input type="checkbox" class="allCheck">전체</input></label></li>
			                <li><label><input type="checkbox" name="category2" value="스커트">스커트</label></li>
			                <li><label><input type="checkbox" name="category2" value="데님">데님</label></li>
			                <li><label><input type="checkbox" name="category2" value="팬츠">팬츠</label></li>
			                <li><label><input type="checkbox" name="category2" value="슬랙스">슬랙스</label></li>
			                <li><label><input type="checkbox" name="category2" value="레깅스">레깅스</label></li>
			            </ul>
			        </li>
			        <li>
			            <a th:href="@{#}" class="cate1">DRESS</a>
			            <ul>
			                <li><label><input type="checkbox" class="allCheck">전체</input></label></li>
			                <li><label><input type="checkbox" name="category2" value="원피스">원피스</label></li>
			                <li><label><input type="checkbox" name="category2" value="투피스">투피스</label></li>
			                <li><label><input type="checkbox" name="category2" value="점프수트">점프수트</label></li>
			            </ul>
			        </li>
			        <li>
			            <a th:href="@{#}" class="cate1">ETC</a>
			            <ul>
			                <li><label><input type="checkbox" class="allCheck">전체</input></label></li>
			                <li><label><input type="checkbox" name="category2" value="신발">신발</label></li>
			                <li><label><input type="checkbox" name="category2" value="가방">가방</label></li>
			                <li><label><input type="checkbox" name="category2" value="모자">모자</label></li>
			                <li><label><input type="checkbox" name="category2" value="쥬얼리">쥬얼리</label></li>
			            </ul>
			        </li>
			    </ul>
			</aside>
            <section id="admin-product-list">
                <div>
                    <form th:action="@{/admin/product/search}" method="get">
                    	<input type="hidden" name="arg1" th:value="${arg1}">
                    	<input type="hidden" name="param1" th:value="${param1}">
                        <select name="param2" id="search">
                            <option value="prodName" name="prodName">상품명</option>
                            <option value="prodNo" name="prodNo">상품번호</option>
                        </select>
                        <input type="text" name="arg2">
                        <button class="searchClick">검색</button>
                    </form>
                </div>
                <div>
                    <a th:classappend="${param1}=='prodNo'?'on'" th:href="@{/admin/product/list(param1=prodNo)}">최신순 </a>|
                    <a th:classappend="${param1}=='disPrice'?'on'" th:href="@{/admin/product/list(param1=disPrice)}">판매가격순 </a>|
                    <a th:classappend="${param1}=='stock'?'on'" th:href="@{/admin/product/list(param1=stock)}">재고순 </a>|
                    <a th:classappend="${param1}=='hit'?'on'" th:href="@{/admin/product/list(param1=hit)}">조회순</a>
                </div>
                <table id="tableList">
                    <tr>
                        <th><input type="checkbox" name="전체체크" id="checkAll"></th>
                        <th>사진</th>
                        <th>품번</th>
                        <th>대분류</th>
                        <th>소분류</th>
                        <th>상품명</th>
                        <th>판매가격</th>
                        <th>재고</th>
                        <th>조회</th>
                        <th>관리</th>
                    </tr>
                    
                </table>
                <input type="button" value="선택삭제" class="delete">
                <input type="button" value="상품등록" class="register">
                <div class="page">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </section>
        </main>
    </div>
</body>
</html>