<!--
날짜 : 2023/03/01
이름 : 김동근
내용 : 포트폴리오01 HTML wishlist
-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <!-- 웹 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR:wght@300&family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <!-- 라이브러리 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/init.css}">
    <link rel="stylesheet" th:href="@{/css/order.css}">
    <!-- js -->
    <script th:src="@{/js/main.js}"></script>
    <title>WishList</title>
    <style>
        
    </style>
    <script>
        
    </script>
</head>
<body>
    <div id="wrap">
        <th:block th:replace="~{/_header :: headerFragment}"></th:block>   
		<!-- 메인 -->
		<main>
		    <div class="mainBackgorund">
		        <div class="mainContent">
		            <!-- 콘텐츠 -->
		            <section class="myContent">
		                <!-- 각 페이지 내용 -->
		                <div class="orderFrame">
		                    <section class="nav">
		                        <p><span>1</span>장바구니</p> 
		                        <p class="current"><span>2</span> 주문/결제</p> 
		                        <p><span>3</span> 주문완료</p>
		                    </section>
		
		                    <!-- 주문 내용 -->
		                    <div class="wrap-left">
		
		                        <section class="prodList">
		                            <p>주문상품</p>
		                            <div class="orderBox">
		                                
		                                <table border="0">
		                                    <thead>
		                                        <tr>
		                                            <th></th>
		                                            <th>상품정보</th>
		                                            <th>수량</th>
		                                            <th>적립</th>
		                                            <th>합계</th>
		                                        </tr>
		                                    </thead>
		                                    <tbody>
		                                        <!-- 아이템 반복 -->
		                                        <tr>
		                                            <td><img src="./images/default_profile.png" alt=""></td>
		                                            <td>
		                                                <span id="prodName">상품명</span>
		                                                <span id="prodOption">베이지</span>
		                                                <span id="prodPrice">40,000</span>
		                                            </td>
		                                            <td><span id="prodCount">1</span>개</td>
		                                            <td><span id="prodSavePoint">500</span>원</td>
		                                            <td><span id="prodTotal">40,000</span>원</td>
		                                        </tr>
		                                        <!-- 아이템 반복 종료-->
		                                        <tr>
		                                            <td><img src="./images/default_profile.png" alt=""></td>
		                                            <td>
		                                                <span id="prodName">상품명</span>
		                                                <span id="prodOption">베이지</span>
		                                                <span id="prodPrice">40,000</span>
		                                            </td>
		                                            <td><span id="prodCount">1</span>개</td>
		                                            <td><span id="prodSavePoint">500</span>원</td>
		                                            <td><span id="prodTotal">40,000</span>원</td>
		                                        </tr>
		                                        <tr>
		                                            <td><img src="./images/default_profile.png" alt=""></td>
		                                            <td>
		                                                <span id="prodName">상품명</span>
		                                                <span id="prodOption">베이지</span>
		                                                <span id="prodPrice">40,000</span>
		                                            </td>
		                                            <td><span id="prodCount">1</span>개</td>
		                                            <td><span id="prodSavePoint">500</span>원</td>
		                                            <td><span id="prodTotal">40,000</span>원</td>
		                                        </tr>
		                                    </tbody>
		                                </table>
		
		                                
		                                
		                                
		                            </div>
		                        </section>
		
		                        <section class="buyer">
		                            <p>주문자 정보</p>
		                            <div class="orderBox">
		                                <table border="0" class="infoTable">
		                                    <tbody>
		                                    <tr>
		                                        <th>주문하시는 분 <img src="//img.echosting.cafe24.com/skin/base_ko_KR/order/ico_required.gif" alt="필수"></th>
		                                        <td><input id="bName" name="bName" placeholder="" size="10"  type="text"></td>
		                                    </tr>
		                                    <tr>
		                                        <th>휴대전화 <img src="//img.echosting.cafe24.com/skin/base_ko_KR/order/ico_required.gif" alt="필수"></th>
		                                        <td>
		                                            <select id="bPh1" name="bPh1">
		                                                <option value="010">010</option>
		                                                <option value="011">011</option>
		                                                <option value="016">016</option>
		                                                <option value="017">017</option>
		                                                <option value="018">018</option>
		                                                <option value="019">019</option>
		                                            </select>
		                                            - <input id="bPh2" name="bPh2" maxlength="4" size="4" type="text">
		                                            - <input id="bPh3" name="bPh3" maxlength="4" size="4" type="text">
		                                        </td>
		                                    </tr>
		                                    <tr>
		                                        <th>주소<img src="//img.echosting.cafe24.com/skin/base_ko_KR/order/ico_required.gif" alt="필수"></th>
		                                        <td>
		                                            <input id="bZip" name="bZip" size="6" readonly="true" type="text"> <a href="#" class="btn" id="btnZip">우편번호</a> <br>
		                                            <input id="bAddr1" name="bAddr1" size="30" readonly="true" type="text"> <span>기본주소</span> <br>
		                                            <input id="bAddr2" name="bAddr2" size="30" type="text"> <span>나머지주소</span>
		                                        </td>
		                                    </tr>
		                                    <tr>
		                                        <th>이메일 <img src="//img.echosting.cafe24.com/skin/base_ko_KR/order/ico_required.gif" alt="필수"></th>
		                                        <td>
		                                            <input id="bEmail1" name="bEmail1" size="13" type="text">@<input id="bEmail2" name="bEmail2" size="13" type="text">
		                                            <select id="bEmail3">
		                                                <option value="" selected="selected">- 이메일 선택 -</option>
		                                                <option value="naver.com">naver.com</option>
		                                                <option value="daum.net">daum.net</option>
		                                                <option value="nate.com">nate.com</option>
		                                                <option value="hotmail.com">hotmail.com</option>
		                                                <option value="yahoo.com">yahoo.com</option>
		                                                <option value="empas.com">empas.com</option>
		                                                <option value="korea.com">korea.com</option>
		                                                <option value="dreamwiz.com">dreamwiz.com</option>
		                                                <option value="gmail.com">gmail.com</option>
		                                                <option value="etc">직접입력</option>
		                                            </select>
		                                            <ul>
		                                                <li>- 이메일을 통해 주문처리과정을 보내드립니다.</li>
		                                                <li>- 반드시 수신가능한 이메일주소를 입력해 주세요</li>
		                                            </ul> 
		                                        </td>
		                                    </tr>
		                                    <tr>
		                                        <th>적립금</th>
		                                        <td>
		                                            <p> <input id="input_mile" name="input_mile" size="10" type="text"> 원 (총 사용가능 적립금 : <strong id="usedPoint">1,000</strong>원)</p> <br>
		                                            적립금은 최소 3,000원 이상일 때 결제가 가능합니다.
		                                        </td>
		                                    </tr>
		                                    </tbody>
		                                </table>
		                            </div>
		                        </section>
		
		                        <section class="receiver">
		                            <p>배송지 정보</p>
		                            <div class="orderBox">
		                                <table border="0" class="infoTable">
		                                    <tbody>
		                                    <tr>
		                                        <th>배송지 선택</th>
		                                        <td>
		                                            <input type="checkbox" id="chkSame">
		                                            <span>주문자 정보와 동일</span>
		                                        </td>    
		                                    </tr>
		                                    <tr>
		                                        <th>받으시는 분 <img src="//img.echosting.cafe24.com/skin/base_ko_KR/order/ico_required.gif" alt="필수"></th>
		                                        <td><input id="rName" name="rName" placeholder="" size="10"  type="text"></td>
		                                    </tr>
		                                    <tr>
		                                        <th>휴대전화 <img src="//img.echosting.cafe24.com/skin/base_ko_KR/order/ico_required.gif" alt="필수"></th>
		                                        <td>
		                                            <select id="rPh1" name="rPh1">
		                                                <option value="010">010</option>
		                                                <option value="011">011</option>
		                                                <option value="016">016</option>
		                                                <option value="017">017</option>
		                                                <option value="018">018</option>
		                                                <option value="019">019</option>
		                                            </select>
		                                            - <input id="rPh2" name="rPh2" maxlength="4" size="4" type="text">
		                                            - <input id="rPh3" name="rPh3" maxlength="4" size="4" type="text">
		                                        </td>
		                                    </tr>
		                                    <tr>
		                                        <th>주소<img src="//img.echosting.cafe24.com/skin/base_ko_KR/order/ico_required.gif" alt="필수"></th>
		                                        <td>
		                                            <input id="rZip" name="rZip" size="6" readonly="true" type="text"> <a href="#" class="btn" id="btnZip">우편번호</a> <br>
		                                            <input id="rAddr1" name="rAddr1" size="30" readonly="true" type="text"> <span>기본주소</span> <br>
		                                            <input id="rAddr2" name="rAddr2" size="30" type="text"> <span>나머지주소</span>
		                                        </td>
		                                    </tr>
		                                    <tr>
		                                        <th>배송메시지</th>
		                                        <td>
		                                            <textarea id="rMessage" name="rMessage" maxlength="255" cols="45"></textarea>
		                                        </td>
		                                    </tr>
		                                    </tbody>
		                                </table>
		                            </div>
		                        </section>
		                    </div>
		                    
		                    <div class="wrap-right">
		
		                        <section class="total">
		                            <p>결제정보</p>
		                            <div class="orderBox">
		                                <div class="totalLeft">
		                                    <p>상품가격</p>
		                                    <p>배송비</p>
		                                    <p>사용적립금</p>
		                                    <p>적립금</p>
		                                </div>
		                                <div class="totalRight">
		                                    <p>370,000원</p>
		                                    <p>무료</p>
		                                    <p>-0원</p>
		                                    <p>500원</p>
		                                </div>
		                                <div class="totalBottom">
		                                    <p>총 주문금액</p>
		                                    <p><strong>40,000</strong>원</p>
		                                </div>
		                            </div>
		                        </section>
		
		                        <section class="payment">
		                            <p>결제수단</p>
		                            <div class="orderBox">
		                                <!-- 결제방식 -->
		                                <ul class="paymentList">
		                                    <li>
		                                        <input type="radio" name="chkPayment" checked="">
		                                        <label for="creditCart">카드</label>
		                                    </li>
		                                    <li>
		                                        <input type="radio" name="chkPayment" >
		                                        <label for="virtualAccount">무통장입금</label>
		                                    </li>
		                                    <li>
		                                        <input type="radio" name="chkPayment">
		                                        <label for="others">기타</label>
		                                    </li>
		                                </ul>
		                                <!-- 결제수단 -->
		                                <ul class="paymentItemList">
		                                    <li>
		                                        <a href="#"><img src="./images/kakaopay.png" alt="">카카오페이</a>
		                                    </li>
		                                    <li>
		                                        <a href="#"><img src="./images/naverpay.png" alt="">네이버페이</a>
		                                    </li>
		                                    <li>
		                                        <a href="#"><img src="./images/kakaopay.png" alt="">카카오페이</a>
		                                    </li>
		                                    <li>
		                                        <a href="#"><img src="./images/naverpay.png" alt="">네이버페이</a>
		                                    </li>
		                                </ul>
		                            </div>
		                        </section>
		
		                        <section class="terms">
		                            <p>약관</p>
		                            <div class="orderBox">
		                                <div>
		                                    <label>
		                                        <input type="checkbox" name="chkTerms" id="chkAll">
		                                        <span>전체 동의</span>
		                                    </label>
		                                </div>
		                                <div>
		                                    <label>
		                                        <input type="checkbox" name="chkTerms">
		                                        <span>구매조건 확인 및 결제진행에 동의</span>
		                                    </label>
		                                </div>
		                                <div>
		                                    <label>
		                                        <input type="checkbox" name="chkTerms">
		                                        <span>구매조건 확인 및 결제진행에 동의</span>
		                                    </label>
		                                </div>
		                            </div>
		                        </section>
		                    
		                        <a href="#" class="btnOrder">결제하기</a>
		                    </div>
		                    
		                </div>
		            </section>
		        </div>
		    </div>
		</main>
		<th:block th:replace="~{/_footer :: footerFragment}"></th:block>
	</div>
</body>
</html>