<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Beauty::list</title>
	<th:block th:replace="~{/_config :: indexConfigFragment}"></th:block>
    <link rel="stylesheet" th:href="@{/css/product/list.css}">
</head>
<body>
	<th:block th:replace="~{/_header :: modileFragment}"></th:block>
    <div id="wrap">
       	<th:block th:replace="~{/_header :: headerFragment}"></th:block>
        <main>
            <!-- 베스트상품 -->
            <!-- 
            <article>
                <span>OUTER BEST ITEMS</span>
                <div class="swiper swiperItem">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <ul>
                                <li>
                                    <div class="bestItem">
                                        <a href="#"><img src="../img/sample6.jpg" alt="상품"></a>
                                        <div class="bestDescript">
                                            <div class="colorCodeBox">
                                                <span class="colorCode" style="background: #fac8c8;"></span>
                                                <span class="colorCode" style="background: #fffdf0;"></span>
                                                <span class="colorCode" style="background: #fff5a0;"></span>
                                                <span class="colorCode" style="background: #3a55ed;"></span>
                                            </div>
                                            <span>상품명</span><br/>
                                            <span>15,000원</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="bestItem">
                                        <a href="#"><img src="../img/sample7.jpg" alt="상품"></a>
                                        <div class="bestDescript">
                                            <div class="colorCodeBox">
                                                <span class="colorCode" style="background: #fac8c8;"></span>
                                                <span class="colorCode" style="background: #fffdf0;"></span>
                                                <span class="colorCode" style="background: #fff5a0;"></span>
                                                <span class="colorCode" style="background: #3a55ed;"></span>
                                            </div>
                                            <span>상품명</span><br/>
                                            <span>15,000원</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="bestItem">
                                        <a href="#"><img src="../img/sample8.jpg" alt="상품"></a>
                                        <div class="bestDescript">
                                            <div class="colorCodeBox">
                                                <span class="colorCode" style="background: #fac8c8;"></span>
                                                <span class="colorCode" style="background: #fffdf0;"></span>
                                                <span class="colorCode" style="background: #fff5a0;"></span>
                                                <span class="colorCode" style="background: #3a55ed;"></span>
                                            </div>
                                            <span>상품명</span><br/>
                                            <span>15,000원</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="bestItem">
                                        <a href="#"><img src="../img/sample9.jpg" alt="상품"></a>
                                        <div class="bestDescript">
                                            <div class="colorCodeBox">
                                                <span class="colorCode" style="background: #fac8c8;"></span>
                                                <span class="colorCode" style="background: #fffdf0;"></span>
                                                <span class="colorCode" style="background: #fff5a0;"></span>
                                                <span class="colorCode" style="background: #3a55ed;"></span>
                                            </div>
                                            <span>상품명</span><br/>
                                            <span>15,000원</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="bestItem">
                                        <a href="#"><img src="../img/sample6.jpg" alt="상품"></a>
                                        <div class="bestDescript">
                                            <div class="colorCodeBox">
                                                <span class="colorCode" style="background: #fac8c8;"></span>
                                                <span class="colorCode" style="background: #fffdf0;"></span>
                                                <span class="colorCode" style="background: #fff5a0;"></span>
                                                <span class="colorCode" style="background: #3a55ed;"></span>
                                            </div>
                                            <span>상품명</span><br/>
                                            <span>15,000원</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="swiper-slide">
                            <ul>
                                <li><div class="bestItem"><a href="#"><img src="../img/sample7.jpg" alt="상품"></a></div></li>
                                <li><div class="bestItem"><a href="#"><img src="../img/sample7.jpg" alt="상품"></a></div></li>
                                <li><div class="bestItem"><a href="#"><img src="../img/sample7.jpg" alt="상품"></a></div></li>
                                <li><div class="bestItem"><a href="#"><img src="../img/sample7.jpg" alt="상품"></a></div></li>
                                <li><div class="bestItem"><a href="#"><img src="../img/sample7.jpg" alt="상품"></a></div></li>
                            </ul>
                        </div>
                        <div class="swiper-slide">
                            <ul>
                                <li><div class="bestItem"><a href="#"><img src="../img/sample8.jpg" alt="상품"></a></div></li>
                                <li><div class="bestItem"><a href="#"><img src="../img/sample8.jpg" alt="상품"></a></div></li>
                                <li><div class="bestItem"><a href="#"><img src="../img/sample8.jpg" alt="상품"></a></div></li>
                                <li><div class="bestItem"><a href="#"><img src="../img/sample8.jpg" alt="상품"></a></div></li>
                                <li><div class="bestItem"><a href="#"><img src="../img/sample8.jpg" alt="상품"></a></div></li>
                            </ul>
                        </div>
                        <div class="swiper-slide">
                            <ul>
                                <li><div class="bestItem"><a href="#"><img src="../img/sample9.jpg" alt="상품"></a></div></li>
                                <li><div class="bestItem"><a href="#"><img src="../img/sample9.jpg" alt="상품"></a></div></li>
                                <li><div class="bestItem"><a href="#"><img src="../img/sample9.jpg" alt="상품"></a></div></li>
                                <li><div class="bestItem"><a href="#"><img src="../img/sample9.jpg" alt="상품"></a></div></li>
                                <li><div class="bestItem"><a href="#"><img src="../img/sample9.jpg" alt="상품"></a></div></li>
                            </ul>
                        </div>
                        <div class="swiper-slide">
                            <ul>
                                <li><div class="bestItem"><a href="#"><img src="../img/sample10.jpg" alt="상품"></a></div></li>
                                <li><div class="bestItem"><a href="#"><img src="../img/sample10.jpg" alt="상품"></a></div></li>
                                <li><div class="bestItem"><a href="#"><img src="../img/sample10.jpg" alt="상품"></a></div></li>
                                <li><div class="bestItem"><a href="#"><img src="../img/sample10.jpg" alt="상품"></a></div></li>
                                <li><div class="bestItem"><a href="#"><img src="../img/sample10.jpg" alt="상품"></a></div></li>
                            </ul>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </article>
            <script>
			  const numberOfSlides = 10;
			  const swiper2 = new Swiper('.swiperItem', {
			    // Optional parameters
			    slidesPerView: 1,
			    loop: true,
			
			    // If we need pagination
			    pagination: {
			      el: '.swiper-pagination',
			      clickable: true,
			      renderBullet: function (index, className) {
			        if (index < numberOfSlides) {
			          return '<div class="' + className + '"><span>' + (bullet[index]) + '</span></div>';
			        }
			      },
			    },
			
			    navigation: {
			      nextEl: '.swiper-button-next',
			      prevEl: '.swiper-button-prev',
			    },
			
			    // And if we need scrollbar
			    scrollbar: {
			      el: '.swiper-scrollbar',
			    },
			
			    autoplay: {     //자동슬라이드 (false-비활성화)
			      delay: 5000, // 시간 설정
			      disableOnInteraction: false, // false-스와이프 후 자동 재생
			    },
			  });
			</script>
             -->
            <!-- 리스트 -->
            <section>
                <div class="headcate">
                    <div class="title2">
                        <h2 th:if="${now/100 == 1}">OUTER</h2>
                        <h2 th:if="${now/100 == 2}">TOP</h2>
                        <h2 th:if="${now/100 == 3}">BOTTOM</h2>
                        <h2 th:if="${now/100 == 4}">DRESS</h2>
                        <h2 th:if="${now/100 == 5}">ETC</h2>
                        <h2 th:if="${now == 1000}">NEW 새로 나온 신상품 !!!</h2>
                        <h2 th:if="${now == 1001}">BEST 많은 사람들에게 사랑받고 있는 상품들~</h2>
                    </div>
                    <section class="menuCategory" th:if="${now < 1000}">
                        <span th:class="${now}%100 == 0 ? 's_title selected' : 's_title'">
                        <th:block th:if="${sort == null}">
                        	<a th:href="@{/shop/list(cate=${now/100}*100)}">ALL</a>
                        </th:block>
                        <th:block th:unless="${sort == null}">
                        	<a th:href="@{/shop/list(cate=${now/100}*100, sort=${sort})}">ALL</a>
                        </th:block>
                        </span>
                        <th:block th:each="cate : ${cate}">
                        	<span th:class="${now} == ${cate.cate} ? 's_title selected' : 's_title'"><a th:href="@{/shop/list(cate=${cate.cate})}" th:text="${cate.c2Name}"></a></span>
                        </th:block>
                    </section>
                    <div class="item-info" th:if="${now < 1000}">
                        <div class="item-total">
                            Total <b>[[${count}]]</b> items
                        </div>
                        <ul class="item-order" th:if="${now < 1000}">
                            <li th:class="${sort} == null ? 'selected' : ''"><a th:href="@{/shop/list(cate=${now})}">신상품</a></li>
                            <li th:class="${sort} == 'lowprice' ? 'selected' : ''"><a th:href="@{/shop/list(cate=${now},sort='lowprice')}">낮은가격</a></li>
                            <li th:class="${sort} == 'highprice' ? 'selected' : ''"><a th:href="@{/shop/list(cate=${now},sort='highprice')}">높은가격</a></li>
                            <li th:class="${sort} == 'score' ? 'selected' : ''"><a th:href="@{/shop/list(cate=${now},sort='score')}">인기순</a></li>
                            <li th:class="${sort} == 'hit' ? 'selected' : ''"><a th:href="@{/shop/list(cate=${now},sort='hit')}">많이 본 순</a></li>
                        </ul>
                    </div>
                </div>

                <div>
				    <div class="product" th:each="list : ${lists}">
                        <a th:href="@{/shop/view}"><img th:src="@{/image/} + ${list.thumb1}" alt="상품"></a>
                        <div class="colorCodeBox">
                        <th:block th:each="code : ${list.colorArr}">
                            <span th:title="${code}" class="colorCode" th:class="${code} + ' colorCode'"></span>
                        </th:block>
                        </div>
                        <a th:href="@{/shop/view}"><span class="name">[[${list.prodName}]]</span></a>
                       	<th:block th:if="${list.discount == 0}">
                      		<span class="price">[[${#numbers.formatInteger(list.price, 3, 'COMMA') + '원'}]]</span>
                       	</th:block>
                       	<th:block th:unless="${list.discount == 0}">
	                        <span class="oriPrice" th:text="${#numbers.formatInteger(list.price, 3, 'COMMA') + '원'}"></span>
	                        <span class="price">[[${#numbers.formatInteger(list.price-list.disPrice, 3, 'COMMA') + '원'}]]<span class="discount">[[${list.discount}]]%</span></span>
                        </th:block>
                        <span class="descript" th:text="${list.descript}">상품설명</span>
                    </div>
				</div>
                   
                    <div class="center" th:if="${now < 1000}">
                        <div class="pagination">
	                        <a href="#">&laquo;</a>
	                        <a href="#">&lsaquo;</a>
	                        <a href="#" class="active">1</a>
	                        <a href="#">2</a>
	                        <a href="#">3</a>
	                        <a href="#">&rsaquo;</a>
	                        <a href="#">&raquo;</a>
                        </div>
                    </div>
                    
                </div>
            </section>
        </main>
		<th:block th:replace="~{/_footer :: footerFragment}"></th:block>
    </div>
</body>
</html>