<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Beauty</title>
<!-- 제이쿼리 -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- swiper -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<!-- font -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">

<link rel="stylesheet" th:href="@{/css/headfoot.css}">
<link rel="stylesheet" th:href="@{/css/index.css}">
<link rel="stylesheet" th:href="@{/css/member/findId.css}">
<script th:src="@{/js/main.js}"></script>
<th:block th:replace="~{/_header :: headerFragment}"></th:block>
</head>
<script>
	$(function() {
		$('.btnNext').click(function() {

			console.log('here1');

			let name = $('input[name=name]').val();
			let phone = $('input[name=phone]').val();

			let jsonData = {
				"name" : name,
				"phone" : phone
			};
			console.log(jsonData);
			console.log('here2');
			$.ajax({
				url : '/beauty/member/findId',
				type : 'post',
				data : jsonData,
				dataType : 'json',
				success : function(data) {
					console.log('here3');
					if (data.vo != null) {
						console.log(data);
						location.href = "/beauty/member/findIdResult";
					} else {
						console.log('here4');
						alert('해당하는 사용자가 존재하지 않습니다.\n이름과 이메일을 다시 확인하십시오.');
					}
				}
			});

			return false;
		});
	});
</script>

<body>
	<div id="wrap">
		<main>
			<div class="fd">
				<h2>FIND ID</h2>
				<form action="#" method="POST">
					<div class="findId">
						<fieldset>
							<p>
								<strong>이름</strong> <input type="text" class="fd-input"
									name="name" placeholder="이름">
							</p>
							<p>
								<strong>휴대폰 번호</strong> <input type="text" class="fd-input"
									name="phone" placeholder="휴대폰 번호">
							</p>
							<div>
								<a th:href="@{/member/findIdResult}" class="btnNext">확인</a>
								<a th:href="@{/member/login}" class="btnCancel">취소</a>
							</div>
						</fieldset>
					</div>
				</form>
			</div>
		</main>
		<th:block th:replace="~{/_footer :: footerFragment}"></th:block>
	</div>
</body>
</html>