<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Beauty</title>
    <!-- 제이쿼리 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- swiper -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <!-- font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <link rel="stylesheet" th:href="@{/css/headfoot.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/member/login.css}">
    <script th:src="@{/js/main.js}"></script>
    <th:block th:replace="~{/_header :: headerFragment}"></th:block>
</head>

<body>
    <div id="wrap">
        <main>
            <div class="lg">
                <h2>LOGIN</h2>
                <fieldset>
                    <input type="text" class="lg-input" placeholder="이메일">
                    <br>
                    <input type="password" class="lg-input" placeholder="비밀번호">
                    <p>
                        <label><input type="checkbox" class="lg-save-id">아이디 저장</label>
                    </p>
                    <div class="btn-base-box">
                        <input class="btn-login" type="submit" value="LOGIN">
                        <input class="btn-register" type="submit" value="회원가입">
                    </div>
                    <ul>
                        <li>
                            <a href="#">find ID | </a>
                            <a href="#">find Password</a>
                        </li>
                    </ul>
                    <ul>
                        <input class="btn-nonecus-order" type="submit" value="비회원 주문하기 예시">
                    </ul>
                </fieldset>
            </div>
        </main>
        <footer>
            <div class="up"><ion-icon class="upIcon" name="chevron-up-outline"></ion-icon></div>
            <div>
                <ul>
                    <li><a href="#">홈</a></li>
                    <li><a href="#">회사소개</a></li>
                    <li><a href="#">이용약관</a></li>
                    <li><a href="#">개인정보취급방침</a></li>
                    <li><a href="#">이용안내</a></li>
                </ul>
                <section>
                    <strong>CUSTOMER CENTER</strong><br />
                    <span>T. 0000-0000</span>
                    <ul>
                        <li>MON-FRI AM 11:00 - PM 07:00</li>
                        <li>점심시간 PM 12:00 - PM 01:00</li>
                        <li>SAT.SUN.HOLIDAY <span>closed</span></li>
                    </ul>
                    <ul>
                        <li>농협 000-0000-0000-00</li>
                        <li>우리 0000-000-000000</li>
                        <li>예금주 : 뷰티샵</li>
                    </ul>
                </section>
                <section>
                    <strong>RETURN/EXCHANGE</strong>
                    <ul>
                        <li>교환/반품주소 : 부산 부산진구 중앙대로775번길 5 부산서면우체국</li>
                        <li>우체국택배 0000-0000</li>
                    </ul>
                    <ul>
                        <li>* 고객센터를 통하여 먼저 접수 후 상품을 보내주셔야하며,</li>
                        <li>지정택배사를 이용해주시기 바랍니다.</li>
                    </ul>
                </section>
                <section>
                    <strong>MEMBER</strong>
                    <ul>
                        <li><a href="#">장바구니</a></li>
                        <li><a href="#">마이페이지</a></li>
                        <li><a href="#">주문조회</a></li>
                        <li><a href="#">회원정보수정</a></li>
                        <li><a href="#">관심상품</a></li>
                    </ul>
                </section>
                <section>
                    <strong>COMMUNITY</strong>
                    <ul>
                        <li><a href="#">NOTICE</a></li>
                        <li><a href="#">Q&A</a></li>
                        <li><a href="#">REVIEW</a></li>
                        <li><a href="#">EVENT</a></li>
                    </ul>
                </section>
                <section class="footerinfo">
                    <ul>
                        <li>COMPANY : 뷰티샵 OWNER : 홍길동 TEL : 0000-0000 ADDRESS : 부산 부산진구 서면로 XX빌딩</li>
                        <li>BUSINESS LICENSE : 000-00-00000 ONLINE ORDER LICENSE : 0000-가나다라-0000 [사업자정보확인]</li>
                        <li>CHIEF PRIVACY OFFICER : 홍길동 EMAIL : email@naver.com</li>
                    </ul>
                </section>
            </div>
        </footer>
    </div>
</body>

</html>