<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Beauty</title>
    <!-- 제이쿼리 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- swiper -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <!-- font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <link rel="stylesheet" th:href="@{/css/headfoot.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/member/login.css}">
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/member/login.js}"></script>
    <th:block th:replace="~{/_header :: headerFragment}"></th:block>
</head>

<body>
    <div id="wrap">
        
        <main>
            <div class="lg">
                <section>
                    <h2>로그인</h2>
                    <table>
                        <tr>
                            <td class="member current">회원</td>
                            <td class="nomember">비회원 (주문조회)</td>
                        </tr>
                    </table>
                    <article id="member" class="m1">
                        <div class="login">
                            <form action="#" method="post">
                                <input type="text" name="uid" placeholder="아이디">
                                <span class="material-icons close">close</span>
                                <input type="password" name="password" placeholder="비밀번호" style="margin-top: 10px;">
                                <span class="material-icons eye">visibility_off</span>
                                </input>
                                <button type="submit">로그인</button>
                            </form>
                            <div class="loginlabel">
                                <label><input type="checkbox" name="autoLogin">아이디 저장</label>
                            </div>
                        </div>
                        <div class="other">
                            <a th:href="@{/member/find}">아이디 찾기</a>
                            <a th:href="@{/member/find}">비밀번호 찾기</a>
                            <a th:href="@{/member/register}">회원가입</a>
                        </div>
                    </article>
                    <article id="member" class="m2">
                        <div class="login">
                            <form action="#" method="post">
                                <input type="text" name="uid" placeholder="이름">
                                <span class="material-icons close">close</span>
                                <input type="text" name="uid" placeholder="휴대폰 번호('-'없이 입력)" style="margin-top: 10px;">
                                <input type="text" name="uid" placeholder="주문번호" style="margin-top: 10px;">
                                <button type="submit">주문/배송조회</button>
                            </form>
                        </div>
                        <div class="other">
                            <p>
                                <span class="material-icons">call</span>&nbsp;&nbsp;
                                0000-0000&nbsp;&nbsp; 평일(월~금) 11:00~19:00 (주말 및 공휴일 휴무)
                            </p>
                        </div>
                    </article>
                </section>
            </div>
        </main>
        <th:block th:replace="~{/_footer :: footerFragment}"></th:block>
    </div>
</body>

</html>