<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Beauty</title>
    <!-- 제이쿼리 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- swiper -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <!-- font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <link rel="stylesheet" th:href="@{/css/headfoot.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/member/login.css}">
    <script th:src="@{/js/main.js}"></script>
    <th:block th:replace="~{/_header :: headerFragment}"></th:block>
</head>

<body>
    <div id="wrap">
        <main>
            <div class="lg">
                <h2>LOGIN</h2>
                <form action="#" method="POST">
	                <fieldset>
	                    <input type="text" class="lg-input" name="uid" placeholder="이메일">
	                    <br>
	                    <input type="password" class="lg-input" name="pass" placeholder="비밀번호">
	                    <p>
	                        <label><input type="checkbox" name="remember-me" class="lg-save-id">아이디 저장</label>
	                    </p>
	                    <div class="btn-base-box">
	                        <input class="btn-login" type="submit" value="LOGIN">
	                    </div>
	                    <ul>
	                        <li>
	                            <a th:href="@{/member/findid}">find ID | </a>
	                            <a href="#">find Password | </a>
	                            <a th:href="@{/member/register}" class="btn-register">JOIN</a>
	                        </li>
	                    </ul>
	                    <ul>
	                        <input class="btn-nonecus-order" type="submit" value="비회원 주문하기 예시">
	                    </ul>
	                </fieldset>
                </form>
            </div>
        </main>
        <th:block th:replace="~{/_footer :: footerFragment}"></th:block>
    </div>
</body>

</html>